.test {
  background-image: url('../../assets/dafuku.jpg');
  width: 750px;
  height: 750px;
  display: flex;
  justify-content: center;
  border: 1px solid;
  border-radius: 1px;
  color: black;
  transform: translate3d(0, 0, 0);
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:--heading {
  font-weight: bold;
}
